/* fonts & icons import */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: "Rubik";
    background: #fafafa;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* colors */

:root {
    --blue: #341be4;
    --green: #10b981;
}

/* buttons */

.btn-opac {
    padding: 14px 26px;
    border-radius: 4px;
    background: none;
    font-weight: 500;
    font-size: 14px;
}

.btn-green {
    color: var(--green);
    border: 1px solid var(--green);
}

.btn-blue {
    border: 1px solid var(--blue);
    color: blue;
}

/* nav */

nav {
    display: flex;
    padding: 20px;
    margin: 0 100px;
    justify-content: space-between;
}

.nav-branding {
    display: flex;
}

.nav-branding h2 {
    font-size: 30px;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: -1.9px;
}

img#nav-branding-logo {
    position: relative;
    top: 2px;
}

.nav-links ul li {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    padding-right: 14px;
}

.nav-links {
    position: relative;
    top: -12px;
}

li.say-hi {
    background: #bff8da;
    padding: 6px;
    color: #10b981;
    border-radius: 4px;
    padding: 4px 13px;
    margin-left: 6px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: -1px;
}

/* mobile nav */

.nav-mobile {
    position: relative;
}

.nav-mobile, .mobile-links, .nav-mobile .fa-times-circle {
    display: none;
}

.nav-mobile .fa-bars {
    font-size: 23px;
    color: grey;
    position: relative;
    top: 10px;
}

.nav-mobile .fa-times-circle {
    position: relative;
    right: -1px;
    font-size: 23px;
    color: grey;
    top: 10px;
}

.mobile-links {
    position: absolute;
    right: 1px;
    background: white;
    padding: 20px 20px 4px 20px;
    border-radius: 9px;
    width: 150px;
    box-shadow: 0 3px 28px 3px rgba(0,0,0,.17);
    top: 43px;
    z-index: 99;
}

.mobile-links ul {
    position: relative;
    right: 5px;
}

.mobile-links ul li span {
    position: relative;
    left: 17px;
}

.mobile-links ul li {
    font-weight: 600;
    margin-bottom: 23px;
    font-size: 14px;
}

.mobile-links ul li i {
    width: 20px;
    position: relative;
    left: 16px;
}
.mobile-links li.say-hi {
    width: 80px;
    position: relative;
    left: 14px;
    text-align: center;
    margin-top: 15px;
}


/* main */

/* hero */

.hero-flex {
    display: flex;
    margin-left: 120px;
    align-items: center;
}

.hero-left {
    margin-top: 100px;
    width: 50%;
}

.hero-left h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 64px;
    padding-bottom: 14px;

}

span#web-developer-text {
    color: var(--blue);
}

p.passionate-text {
    color: grey;
    font-size: 19px;
}

.hero-social-icons {
    padding: 13px 0;
    margin-bottom: 13px;
}

.hero-social-icons i {
    font-size: 25px;
    margin-right: 5px;
}

.hero-right {
    width: 50%;
}

img.hero-img-one {
    position: relative;
    right: 42px;
    margin: 0 auto;
    max-height: 600px;
    top: 54px;
}


/* about */

.about {
    background: var(--blue);
    padding: 50px 0;
    margin-top: 40px
}

.about-flex {
    background: var(--blue);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
}

.about-flex h2 {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

p.about-p {
    color: white;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.tech-stack {
    display: flex;
    position: relative;
}

.tech-stack ul li {
    display: inline-block;
    color: white;
    font-size: 14px;
    width: 30%;
}

.tech-stack i {
    color: var(--green);
    font-size: 7px;
    position: relative;
    bottom: 2px;
}

/* articles I wrote */

.index-articles {
    max-width: 1200px;
    margin: 40px auto 70px auto;
}

.index-articles h2 {
    text-align: center;
    color: var(--blue);
    font-weight: 600;
    font-size: 30px;
}

.article-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 30px auto;
    position: relative;
    left: 30px;

}

span.article-heading {
    color: #db2777;
    font-weight: 600;
    font-size: 12px;
}

span.article-date {
    color: grey;
    font-size: 10px;
    position: relative;
    left: 5px;
}

.article-block h3 {
    padding-top: 10px;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
}

p.article-excerpt {
    color: grey;
    letter-spacing: 0.6px;
}

/* reviews */

.reviews {
    background: var(--green);
    min-height: 400px;
}

.reviews h2 {
    text-align: center;
    font-weight: 500;
    color: white;
    padding-top: 40px;
}

.reviews-flex {
    max-width: 1000px;
    margin: 40px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.review-block {
    width: 30%;
    background: #fafafa;
    color: black;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 3px 28px 3px rgba(0,0,0,.17);
    margin: 29px 0px 20px 0;
    position: relative;
}

.review-block::after {
    content: "Fiverr";
    background: #555555;
    padding: 10px;
    color: white;
    border-radius: 7px;
    position: absolute;
    right: -12px;
    top: -24px;
    width: 70px;
    text-align: center;
}

h2.reviewer {
    text-align: left;
    color: black;
    padding-top: 0;
}

span.review-date {
    color: var(--blue);
    font-size: 12px;
}

.review-rating {
    padding: 10px 0;
}

.review-rating span {
    color: black;
}

i.fas.fa-star {
    color: orange;
    font-size: 13px;
    position: relative;
    bottom: 1px;
    left: 2px;
}

p.review-comment {
    color: black;
    font-size: 13px;
    letter-spacing: 0.8px;
}

.review-total-width {
    display: flex;
    justify-content: center;
}

/* portfolio */

.hosted-on-heroku {
    display: flex;
    margin-bottom: 20px;
}

.hosted-on-heroku p {
    font-size: 10px;
}

.hosted-on-heroku i {
    font-size: 8px;
    color: var(--blue);
    padding-right: 4px;
    top: 3px;
    position: relative;
}

.portfolio-block {
    max-width: 1000px;
    display: flex;
    margin: 0 auto 80px auto;
    position: relative;
}

.portfolio-left {
    width: 50%;
}

.portfolio-right {
    width: 50%;
    margin-top: 33px;
}

.portfolio-right h2 {
    color: var(--blue);
    font-weight: 500;
    padding-bottom: 20px;
    font-size: 30px;
}

p.portfolio-p {
    color: grey;
    font-size: 16px;
    letter-spacing: 0.6px;
}

.portfolio-right ul li {
    color: var(--green);
}

.portfolio-right .tech-stack ul li {
    display: inline;
    font-size: 13px;
    padding-right: 10px;
    white-space: nowrap;
}

.portfolio-left img {
    height: 300px;
    width: 430px;
    position: relative;
    top: 37px;
    border-radius: 4px;
}


/* footer */

footer {
    padding: 10px;
    color: black;
    font-size: 12px;
    padding: 30px;
    background: azure;
    text-align: center;
}

/* media queries */

@media screen and (max-width:1119px){
    /* navigation */
    nav {
        margin: 0 10px;
    }
    /* hero */
    .hero-flex {
        margin-left: 30px;
    }
}

@media screen and (max-width:1050px){
    /* portfolio */
    .portfolio-block {
        max-width: 90%;
    }
    .portfolio-right {
        padding-left: 50px;
    }
    .portfolio-left img {
        object-fit: contain;
    }
}

@media screen and (max-width:1000px){
    /* hero img */
    img.hero-img-one {
        right: 8px;
        top: 23px;
    }
    /* reviews */
    .review-block {
        width: 45%;
    }
    .review-total-width .review-block {
        width: 100%;
        margin: 50px 50px;
    }
    .reviews-flex {
        margin: 20px auto 0 auto;
    }
}

@media screen and (max-width:900px){
    /* articles */
    .article-block {
        max-width: 90%;
        left: 0;
        padding: 0 20px;
    }
    /* portfolio */
    .portfolio-block {
        flex-wrap: wrap;
        max-width: 500px;
    }
    .portfolio-right, .portfolio-left {
        width: 100%;
    }
    .portfolio-left {
        display: flex;
        justify-content: center;
    }
    .portfolio-right {
        padding-right: 20px;
        padding-left: 39px;
        margin-top: 53px;
    }
    .portfolio-left img {
        height: 100%;
        width: 100;
    }
    p.portfolio-p {
        max-width: 80%;
    }
}

@media screen and (max-width:800px){
    /* about */
    .about-flex {
        padding: 0 50px;
    }
}

@media screen and (max-width:767px){
    /* mobile nav on mobile */
    .nav-mobile {
        display: block;
    }
    .nav-links {
        display: none;
    }
}

@media screen and (max-width:693px){
    /* hero */
    .hero-flex {
        flex-wrap: wrap;
        margin-left: 0;
    }
    .hero-right, .hero-left {
        width: 100%;
    }
    .hero-left {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 30px;
    }
    .hero-left button.btn-opac.btn-green {
        max-width: 200px;
    }
    .hero-left h1 {
        font-size: 40px;
        line-height: 48px;
    }
    .hero-right {
        order: -1;
    }
    img.hero-img-one {
        max-height: 400px;
        right: 0;
    }
}

@media screen and (max-width:600px){
    /* reviews */
    .review-block {
        width: 80%;
    }
    .reviews-flex {
        margin: 10px auto 0 auto;
    }
}

@media screen and (max-width:500px){
    /* nav branding */
    .nav-branding h2 {
        font-size: 23px;
        position: relative;
        top: 5px;
    }
    /* hero */
    .hero-left h1 {
        font-size: 40px;
    }
    /* portfolio */
    .portfolio-right {
        margin-top: 33px;
        padding-left: 30px;
    }
    .portfolio-left {
        margin: 20px;
    }
    p.portfolio-p {
        max-width: 100%;
        padding-right: 10px;
    }
    .portfolio-block {
        margin-bottom: 30px;
    }
}

@media screen and (min-width:485px) and (max-width:500px){
    .portfolio-right {
        padding-left: 38px;
    }
}

@media screen and (max-width:440px){
    /* hero */
    .hero-left h1 {
        line-height: 36px;
    }
    span#web-developer-text {
        font-size: 30px;
    }
    /* about */
    p.about-p {
        font-size: 14px;
    }
    .tech-stack ul li {
        width: 45%;
        font-size: 12px;
    }
}

@media screen and (max-width:400px){
    /* hero */
    .hero-left {
        padding-top: 15px;
    }
}